@{
    ViewData["Title"] = "Trang Chủ";
    Layout = "_Layout";

}
<div class="main">
    <header>
        <nav class="category-nav">
            <a href="#" class="active">Thức ăn nóng</a>
            <a href="#">Thức ăn lạnh</a>
            <a href="#">Soup</a>
            <a href="#">Đồ nướng</a>
            <a href="#">Món khai vị</a>
            <a href="#">Tráng miệng</a>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Tìm kiếm thức ăn trong thực đơn">
            <select>
                <option value="dine-in">Dine In</option>
                <option value="take-away">Take Away</option>
            </select>
        </div>
    </header>

    <p>Hien tai chua co mon</p>
    <!-- Thêm các món ăn khác tương tự -->
</div>
</div>
